PORT=3003
MONGODB_URI=mongodb://localhost:27017/scheduler?replicaSet=rs0&directConnection=true
RABBITMQ_URL=amqp://reservation:reservation@localhost:5672/call-reservation
ADMIN_EMAIL=admin@call-reservation.local
