MONGODB_URI=mongodb://localhost:27017/communication?replicaSet=rs0&directConnection=true
RABBITMQ_URL=amqp://reservation:reservation@localhost:5672/call-reservation
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_FROM=no-reply@call-reservation.local
